body {
    background-image: url(../assets/flickPick2.png);
    margin: auto;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.searchIcon{
    height: 40px;
    cursor: pointer;
}

.user li {
    display: inline;
    margin: 10px;
    font-family: abril-titling-condensed, serif;
    font-weight: 800;
    font-style: italic;
    font-size: 20px;
    color: #fedfff;
    text-align: center;
    width: 100%;
    cursor: pointer;
    list-style-type: none;
}