body {
    background-image: url(../assets/flickPick2.png);
    margin: auto;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.searchIcon{
    height: 40px;
    cursor: pointer;
}