/* @keyframes move {
    from {background-image: url(../assets/flick2copy.gif);}
    to {background-image: url(../assets/flickPick2.png)}
    } */

body {
    background-image: url(../assets/flickShadow2.png);
    /* animation: move 5s infinite;
    animation-iteration-count: 1; */
    margin: auto;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: abril-titling-condensed, serif;
    font-weight: 800;
    font-style: italic;
    position: absolute;
    padding-top: 30vh;
    font-size: 100px;
    text-align: center;
    width: 100%;
}

.searchIcon{
    height: 40px;
    cursor: pointer;
}

.home{
    text-align: left;
    margin: 10px;
}

.user li {
    display: inline;
    margin: 10px;
    font-family: abril-titling-condensed, serif;
    font-weight: 800;
    font-style: italic;
    font-size: 20px;
    color: #fedfff;
    text-align: center;
    width: 100%;
    cursor: pointer;
    list-style-type: none;
}
