/* @keyframes move {
    from {background-image: url(../assets/flickShadow2.png);}
    to {background-image: url(../assets/flickShadow2.png)}
    } */

/* body {
    background-image: url(../assets/flickShadow2.png);
    animation: move 5s infinite;
    animation-iteration-count: 1;
    margin: auto;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
} */

.searchIcon{
    height: 40px;
    cursor: pointer;
}

.home{
    text-align: left;
    margin: 10px;
}

.user li {
    display: inline;
    margin: 10px;
    font-family: abril-titling-condensed, serif;
    font-weight: 800;
    font-style: italic;
    font-size: 20px;
    color: #fedfff;
    text-align: center;
    width: 100%;
    cursor: pointer;
    list-style-type: none;
}

.homeTitle {
    font-family: abril-titling-condensed, serif;
    font-weight: 800;
    font-style: italic;
    position: absolute;
    padding-top: 25vh;
    padding-left: 10vw;
    font-size: 17vh;
    text-align: center;
    width: 100%;
    letter-spacing: .2em;
    color: #9123bf;
}