
  .form-input-btn {
    font-family: abril-titling-condensed, serif;
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background: linear-gradient(
      90deg,
      #fedfff 0%,
      #9123bf 100%
    );
    outline: none;
    border: none;
    color:black;
    font-size: 1rem;
  }
  
 .form-input-btn:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      #fffddf 0%,
      rgb(126, 109, 122) 100%
    );
    transition: all 0.4s ease-out;
  }
  
  
.Signup{
    font-family: abril-titling-condensed, serif;
    
   
}
 

