@font-face {
  font-family: ourFont;
  src: url(https://use.typekit.net/krt2bfx.css);
}

body {
  background-image: url(./components/assets/flickPick2.png);
  margin: auto;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* 
How to call the h1 flick pick font

font-family: abril-titling-condensed, serif;

font-weight: 800;

font-style: italic;
 */


 /*

dark purple - #9123bf
light purple - #fedfff

*/